<div class="card" style="width: 100%;">
  <div class="card-body">
    <a href="/posts/{{ this.id }}">
      <h5 class="card-title">{{ this.title }}</h5>
    </a>
    <p class="card-text">{{ this.body }}</p>
  </div>
</div>