<div class="container">

    {{> post post}}
    
    <br>
    {{> comment-form}}
    <br>
    <div>
        <p>Comments:</p>
        {{#each post.comments}}
        <div class="card-body list-group-item">
            <a href="/comments/{{this._id}}/new">Comment</a>
            <p>{{this.content}}</p>
            {{#if this.comments}}
            {{> comments comments}}
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>