<div class="container">

    {{> post post}}
    <br>
    {{> comment-form}}
    <br>
    {{#each post.comments}}
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{this.content}}</p>
        </div>
    </div>
    <br>
    {{/each}}
</div>